<div id="<%= dom_id product %>" class="card lg:card-side bg-base-100 shadow">
  <div class="card-body">
    <h2 class="card-title"><%= product.name %></h2>
    <p><%= product.description %></p>
    <p>Price: <%= number_to_currency(product.base_price) %></p>
    <p>Stock: <%= product.stock_quantity %></p>
  </div>

  <figure class="card-figure max-w-md">
    <%= image_tag product_image_url(product), class: "" %>
  </figure>
</div>
