<%= form_with(model: [:admin, invoice], class: "contents") do |form| %>
  <div
    data-controller="search-user"
    class="form-control w-full mb-4"
  >
    <%= form.label :user_id, "Select User", class: "label" %>

    <div class="relative">
      <div class="w-full">
        <%= text_field_tag :query,
                           nil,
                           placeholder: "Search users...",
                           class: "input input-bordered w-full",
                           data: {
                             action: "input->search-user#search",
                             search_user_target: "searchInput"
                           }
        %>
      </div>

      <div
        id="user_results"
        data-search-user-target="results"
        class=" z-10 w-full mt-1 max-h-60 overflow-y-auto"
      >
      </div>

      <%= form.hidden_field :user_id, id: "selected_user_id", data: { search_user_target: "selectedUserId" }
      %>
    </div>
  </div>


  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="form-control">
      <%= form.label :total_price, class: "label" %>
      <%= form.number_field :total_price, step: 0.01, value: @invoice.total_price, class: "input input-bordered" %>
    </div>

    <div class="form-control">
      <%= form.label :discount, class: "label" %>
      <%= form.number_field :discount, step: 0.01, value: @invoice.discount, class: "input input-bordered" %>
    </div>

    <div class="form-control">
      <%= form.label :transaction_date, class: "label" %>
      <%= form.datetime_local_field :transaction_date, value: @invoice.transaction_date, class: "input input-bordered" %>
    </div>

    <div class="form-control col-span-2">
      <%= form.label :notes, class: "label" %>
      <%= form.text_area :notes, rows: 5, class: "input input-bordered" %>
    </div>
  </div>

  <div class="flex justify-end mt-4">
    <%= form.submit "Save Invoice", class: "btn btn-outline btn-wide rounded-lg w-full" %>
  </div>
<% end %>