<div class="navbar bg-base-100 flex justify-between px-3">
  <div class="navbar-start">
    <a class="p-2" href="#">
      <%= image_tag 'logos/horizontal.svg', id: 'site-logo-white', alt: 'Site Logo', size: 125 %>
      <%= image_tag 'logos/horizontal-black.svg', id: 'site-logo-black', alt: 'Site Logo', size: 125, style: "display:none"%>
    </a>
  </div>

  <div class="navbar-end">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost mr-2">Categories</div>
      <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-[1] w-52 p-2 shadow">
        <%= @categories.each do | category | %>
          <li>
            <%= link_to landing_path(category: category) do %>
              <%= category.name %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <%= render "shared/theme_toggle" %>
  </div>
</div>