<div id="clearance" class="password-reset flex flex-col gap-4">
  <h1 class="title text-xl flex flex-col">
    <%= t(".title") %>
    <span class="prose"><%= t(".description") %></span>
  </h1>

  <%= form_for :password, url: passwords_path, class:"flex flex-col gap-4" do |form| %>
    <div class="text-field flex flex-col gap-2">
      <%= form.label :email, class: "label"%>
      <%= form.email_field :email, class: "input input-bordered w-full max-w-md", placeholder: "your-email@email.com"%>
    </div>

    <div class="submit-field">
      <%= form.submit class: "btn btn-ghost w-full max-w-md"%>
    </div>
  <% end %>
</div>

<!--<div class="form-control w-full">-->
  <%#= form.label :password, class: "label" %>
<!--  <div class="relative" data-controller="password-visibility">-->
    <%#= form.password_field :password,
                            spellcheck: false,
                            placeholder: "Password",
                            class: "input input-bordered w-full z-10",
                            data: { password_visibility_target: "input" }
    %>
<!--    <button type="button" data-action="password-visibility#toggle" class="z-20 absolute top-0 right-0 translate-y-1/2 -translate-x-1/2">-->
<!--      <span data-password-visibility-target="icon"><i class="fa-solid fa-eye"></i></span>-->
<!--      <span data-password-visibility-target="icon" class="hidden"><i class="fa-solid fa-eye-slash"></i></span>-->
<!--    </button>-->
<!--  </div>-->
<!--</div>-->

