<%= turbo_frame_tag @product do %>
  <%= form_with model: [:admin, @product], class: "" do | f |%>
    <% if f.object.errors.any? %>
      <% f.object.errors.full_messages.each do |error| %>
        <p class="py-1"><%= error %></p>
      <% end %>
    <% end %>
    <div class=" flex flex-col sm:flex-row">
      <%= f.number_field :stock_quantity, class: "input input-bordered w-full max-w-xs", placeholder: "Enter the new stock"%>
      <%= f.submit 'Save', class: "btn btn-ghost" %>
    </div>
  <% end %>
<% end %>
