
<%= form_with(model: [:admin, product], class: "form-control w-full") do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation" class="alert-error px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this admin_product from being saved:</h2>

      <ul>
        <% product.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-control w-full">
    <%= form.label :name, class: "label" %>

    <%= form.text_field :name, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control w-full">
    <%= form.label :description, class: "label" %>

    <%= form.text_area :description, rows: 4, class: "textarea textarea-bordered w-full" %>
  </div>

  <div class="form-control w-full">
    <%= form.label :base_price, class: "label" %>

    <%= form.text_field :base_price, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control w-full">
    <%= form.label :stock_quantity, class: "label" %>

    <%= form.number_field :stock_quantity, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control w-full flex">
    <%= form.label :published, class: "label" %>

    <%= form.checkbox :published, class: "checkbox" %>
  </div>

  <div class="form-control mt-4">
    <%= form.submit class: "btn btn-outline" %>
  </div>

<% end %>
