<%= form_with(model: [:admin, user], local: true, class: "max-w-md") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <div>
        <span><%= pluralize(user.errors.count, "error") %> prohibited this admin_user from being saved:</span>
        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-control w-full">
    <%= form.label :first_name, class: "label" %>
    <%= form.text_field :first_name, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control w-full">
    <%= form.label :last_name, class: "label" %>
    <%= form.text_field :last_name, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control w-full">
    <%= form.label :username, class: "label" %>
    <%= form.text_field :username, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control w-full">
    <%= form.label :email, class: "label" %>
    <%= form.text_field :email, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control w-full">
    <%= form.label :phone, class: "label" %>
    <%= form.telephone_field :phone, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control">
    <%= form.label :role, class: "label" %>
    <%= form.select :role, options_for_select(User.roles.keys.map { |role| [role.titleize, role] }, @user.role), {}, { class: "select select-bordered w-full" } %>
  </div>

  <div class="form-control w-full">
    <%= form.label :joined_at, class: "label" %>
    <%= form.date_field :joined_at, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control mt-5">
    <%= form.submit "Submit", class: "btn btn-outline" %>
  </div>
<% end %> use this styles to format the file