<section class="w-full mx-auto">
  <% content_for :title, "Users" %>

  <header class="flex justify-between">
    <h1 class="font-bold text-4xl">
      <i class="fas fa-users px-2"></i>
      Products
    </h1>
    <%= link_to new_admin_product_path, class: "btn btn-outline rounded-lg py-3 px-5" do %>
      <i class="fas fa-plus"></i> Add Product
    <% end %>
  </header>

  <article id="users-stats" class="flex justify-between items-center max-w-screen-2xl py-4 ">
    <div class="stat place-items-center">
      <div class="stat-title">Total Products</div>
      <%= render 'shared/animated_number',
                 message: @total_products_count,
                 start_value: 0,
                 end_value: @total_products_count,
                 classes: "stat-value" %>
      <div class="stat-desc"></div>
    </div>

    <div class="stat place-items-center">
      <div class="stat-title">Published Products</div>
      <%= render 'shared/animated_number',
                 message: @total_products_published,
                 start_value: 0,
                 end_value: @total_products_published,
                 classes: "stat-value" %>
      <div class="stat-value"></div>
      <div class="stat-desc"></div>
    </div>

    <div class="stat place-items-center">
      <div class="stat-title">Deleted Products</div>
      <%= render 'shared/animated_number',
                 message: @total_products_deleted,
                 start_value: 0,
                 end_value: @total_products_deleted,
                 classes: "stat-value" %>
      <div class="stat-desc"></div>
    </div>
  </article>

  <article id="users" class="max-w-screen-xl mx-auto mt-4">
    <%= form_tag admin_products_path, method: :get, class: "flex flex-col md:flex-row gap-3 items-center justify-center py-2" do %>
      <%= text_field_tag :query,
                         params[:query],
                         placeholder: "Search products...",
                         class: "input input-bordered w-full" %>
      <%= select_tag :deleted, options_for_select([["Active", false], ["Deleted", true]]),
                     class: 'select select-bordered  max-w-xs' %>


      <%= submit_tag "Search",
                     class: "btn btn-outline w-full md:btn-wide" %>

      <%= link_to "Reset",
                  admin_users_path,
                  class: "btn btn-ghost join-item" %>
    <% end %>

    <div class="overflow-x-auto flex flex-col justify-center items-center pt-4">

      <%== pagy_nav(@pagy) %>
      <%= render "products_table", locals: { products: @products } %>
      <%== pagy_nav(@pagy) %>

    </div>
  </article>
</section>
