<% content_for :title, "Showing Product" %>

<section class="flex flex-col gap-4 mx-auto">
  <header class="flex justify-between">
    <h1 class="font-bold text-xl md:text-4xl">
      <i class="fas fa-eye pr-2"></i>
      Showing: <%= @product.name %></h1>
    <%= link_to admin_products_path, class: "btn btn-ghost" do %>
      <i class="fas fa-arrow-left"></i> Back to products
    <% end %>
  </header>

  <article id="actions" class="">
    <details class="collapse bg-base-100 collapse-arrow border-2 border-base-300 rounded-lg shadow-md">
      <summary class="collapse-title font-medium">
        <i class="fa-solid fa-wand-magic-sparkles mr-1 text-xl"></i>
        Actions
      </summary>
      <div class="collapse-content">
        <div class="flex flex-wrap gap-2 justify-evenly">
          <%= button_to [:admin, @product], method: :delete, class: "btn btn-outline btn-lg lg:btn-wide" do %>
            <i class="fas fa-trash-alt"></i> Destroy
          <% end %>
          <%= link_to edit_admin_product_path(@product), class: "btn btn-outline btn-lg lg:btn-wide" do %>
            <i class="fas fa-edit"></i> Update
          <% end %>
        </div>
      </div>
    </details>
  </article>

  <section id="product-information" class="w-full mt-4 indicator">
    <p class="indicator-item indicator-center mx-auto font-bold text-xl badge badge-xl badge-primary p-4 rounded-lg">
      Status: <%= humanize_published @product.published? %>
    </p>
    <div class="card md:card-side bg-base-100 shadow-xl mx-auto">
      <%= render partial: "shared/carousel", locals: { images: @product.images, default_image: @product.product_image_url  } %>
      <div class="card-body grow ">
        <div class="flex flex-col gap-3">
          <h2 class="card-title"><%= @product.name %></h2>
          <p><%= @product.description %></p>
          <p>Price: <%= number_to_currency(@product.base_price) %></p>
          <div data-controller="reveal">
            <div>
              Stock: <%= @product.stock_quantity %>
              <button data-action="reveal#show" type="button" class="btn">Modificar</button>
            </div>

            <div data-reveal-target="item" class="hidden mt-4">

              Hey 👋
            </div>
          </div>
          <p>Published: <%= @product.published ? 'Yes' : 'No' %></p>
          <% if @product.deleted %>
            <p>Deleted At: <span class="badge badge-lg badge-error"><%= @product.deleted_at %></p>
          <% end %>
        </div>

        <div class="card-actions justify-end">
          <p>Created <%=  time_ago_in_words(@product.created_at) %> ago</p>
          
          <p>Last update <%= time_ago_in_words(@product.updated_at) %> ago</p>
        </div>
      </div>
    </div>
  </section>

  <section id="product-variants">
    <div tabindex="0" class="collapse collapse-open border-base-300 bg-base-200 border">
      <div class="collapse-title text-xl font-medium">Product Variants</div>
      <div class="collapse-content">
        <p></p>
      </div>
    </div>
  </section>
</section>
