<%= form_with(model: [:admin, user], local: true, class: "form-control") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="alert alert-error">
      <div>
        <span><%= pluralize(user.errors.count, "error") %> prohibited this admin_user from being saved:</span>
        <ul>
          <% user.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-control w-full max-w-md p-2">
    <%= form.label :username, class: "label" %>
    <%= form.text_field :username, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control w-full max-w-md p-2">
    <%= form.label :email, class: "label" %>
    <%= form.text_field :email, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control w-full max-w-md p-2">
    <%= form.label :password, class: "label" %>
    <%= form.password_field :password, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control w-full max-w-md p-2">
    <%= form.label :password_confirmation, class: "label" %>
    <%= form.password_field :password_confirmation, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control w-full max-w-md p-2">
    <%= form.label :joined_at, class: "label" %>
    <%= form.datetime_field :joined_at, class: "input input-bordered w-full" %>
  </div>

  <div class="form-control max-w-md mt-5">
    <%= form.submit class: "btn btn-outline" %>
  </div>
<% end %>