<tr>
  <td>
    <div class="flex items-center gap-3">
      <div class="avatar">
        <div class="mask mask-squircle h-12 w-12">
          <%= image_tag user.avatar_url, alt: "#{user.username}'s avatar", class: "user-avatar" %>
        </div>
      </div>
      <div>
        <div class="font-bold"><%= user.username %></div>
        <div class="text-sm opacity-50"><%= user.full_name %></div>
      </div>
    </div>
  </td>
  <td>
    <%= user.email %>
    <br />
    <span class="badge badge-ghost badge-sm"><%=  user.phone %></span>
  </td>
  <td>
    <%= user.role.capitalize %>
    <br>
    <span class="badge badge-primary p-2 rounded-lg badge-sm"><%= user.status.capitalize %></span>
  </td>
  <th>
    <%= link_to "details", [:admin, user], class: "btn btn-ghost btn-md text-xs" %>
  </th>
</tr>