<div id="<%= dom_id user %>">
  <p class="p-2">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= user.full_name %>
  </p>

  <p class="p-2">
    <strong class="block font-medium mb-1">Username:</strong>
    <%= user.username %>
  </p>

  <p class="p-2">
    <strong class="block font-medium mb-1">Email:</strong>
    <%= user.email %>
  </p>

  <p class="p-2">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= user.phone %>
  </p>

  <p class="p-2">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= user.role %>
  </p>

  <p class="p-2">
    <strong class="block font-medium mb-1">Joined at:</strong>
    <%= user.joined_at %>
  </p>

  <p class="p-2">
    <strong class="block font-medium mb-1">Created at:</strong>
    <%= time_ago_in_words(user.created_at) %> ago
  </p>

  <p class="p-2">
    <strong class="block font-medium mb-1">Joined at:</strong>
    <%= time_ago_in_words(user.updated_at)%> ago
  </p>
</div>