<section class="w-full mx-auto">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Users" %>

  <header class="flex justify-between">
    <h1 class="font-bold text-4xl">
      <i class="fas fa-users px-2"></i>
      Users
    </h1>
    <%= link_to new_admin_user_path, class: "btn btn-outline rounded-lg py-3 px-5" do %>
      <i class="fas fa-plus"></i> Add User
    <% end %>
    </header>

  <article id="users-stats" class="flex justify-between items-center max-w-screen-2xl ">
    <div class="stats stats-vertical sm:stats-horizontal mx-auto shadow w-full">
      <div class="stat place-items-center">
        <div class="stat-title">Downloads</div>
        <div class="stat-value">31K</div>
        <div class="stat-desc">Jan 1st - Feb 1st</div>
      </div>

      <div class="stat place-items-center">
        <div class="stat-title">New Users</div>
        <div class="stat-value">4,200</div>
        <div class="stat-desc">↗︎ 400 (22%)</div>
      </div>

      <div class="stat place-items-center">
        <div class="stat-title">New Registers</div>
        <div class="stat-value">1,200</div>
        <div class="stat-desc">↘︎ 90 (14%)</div>
      </div>
    </div>
  </article>

  <article id="users" class="max-w-screen-xl mx-auto mt-4">
    <%= form_tag admin_users_path, method: :get, class: "flex flex-col md:flex-row gap-3 items-center justify-center py-2" do %>
      <%= text_field_tag :query,
                         params[:query],
                         placeholder: "Search users...",
                         class: "input input-bordered w-full" %>

      <%= submit_tag "Search",
                     class: "btn btn-outline w-full md:btn-wide" %>

      <%= link_to "Reset",
                  admin_users_path,
                  class: "btn btn-ghost join-item" %>
    <% end %>

    <div class="overflow-x-auto flex flex-col justify-center items-center pt-4">

      <%== pagy_nav(@pagy) %>

      <table class="table">
        <!-- head -->
        <thead>
        <tr>
          <th></th>
          <th>Username</th>
          <th>Contact</th>
          <th>Status</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>

          <%= render partial: "admin/users/user_row", locals: { user: user } %>

        <% end %>
        </tbody>
        <!-- foot -->
        <tfoot>
        <tr>
          <th></th>
          <th>Username</th>
          <th>Contact</th>
          <th>Status</th>
          <th></th>
        </tr>
        </tfoot>
      </table>

      <%== pagy_nav(@pagy) %>

    </div>
  </article>
</section>
