<div class="navbar bg-base-100">
  <div class="flex-1">
    <label for="sidebar-drawer" class="btn btn-ghost btn-circle drawer-button lg:hidden">
      <i class="fa-solid fa-bars text-2xl"></i>
    </label>
    <%= link_to admin_root_path, class: "btn btn-ghost" do %>
      <%= image_tag 'logos/horizontal.svg', id: 'site-logo-white', alt: 'Site Logo', size: 125 %>
      <%= image_tag 'logos/horizontal-black.svg', id: 'site-logo-black', alt: 'Site Logo', size: 125, style: "display:none"%>    <% end %>
  </div>
  <div class="flex-none">
    <%= render "shared/theme_toggle" %>
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle avatar">
        <div class="w-10 rounded-full">
          <%= image_tag current_user.avatar_url, alt: "#{current_user.username}'s avatar", class: "user-avatar" %>
        </div>
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li>
          <%= link_to "Profile", admin_public_profile_path(current_user.username) %>
        </li>
        <li>
          <%= link_to "Settings", admin_profiles_edit_path(current_user) %>
        </li>
        <li>
          <%= button_to "Sign out", sign_out_path, method: :delete %>
        </li>
      </ul>
    </div>
  </div>
</div>