<% content_for :title do %><%= content_for?(:page_title) ? yield(:page_title) : "" %> | Avivas Admin <% end %>

<% content_for :head do %>
  <%= yield :admin_head %>
<% end %>

<% content_for :header do %>
  <%= render "admin/shared/navbar" %>
<% end %>

<% content_for :main_content do %>
<div class="drawer min-h-full lg:drawer-open">
  <input id="sidebar-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col items-center justify-center">
    <%= yield %>
  </div>
  <div class="drawer-side fixed left-0 top-0 h-full">
    <label for="sidebar-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu text-base-content sticky left-0 top-0 rounded-box w-60">
      <li class="menu-title">Avivas Administration</li>

      <li>
        <%= link_to "Dashboard", admin_root_url%>
      </li>
      <li>
          <%= link_to "Users", admin_users_path %>
      </li>
      <li>
        <a>
          Products
        </a>
      </li>
      <li>
        <a>
          Invoices
        </a>
      </li>
    </ul>
  </div>
</div>
<% end %>

<%= render template: 'layouts/application' %>


