<% content_for :title do %><%= content_for?(:page_title) ? yield(:page_title) : "" %> | Admin | <% end %>

<% content_for :head do %>
  <%= yield :admin_head %>
<% end %>

<% content_for :header do %>
  <%= render "admin/shared/navbar" %>
<% end %>

<% content_for :main_content do %>
<div class="drawer min-h-full lg:drawer-open z-30">
  <input id="sidebar-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content bg-base-100 mx-auto w-full p-4">
    <%= yield %>
  </div>
  <div class="drawer-side min-h-screen h-full">
    <label for="sidebar-drawer" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul class="menu bg-base-100 opacity-100 text-base-content text-base min-h-screen rounded-box pt-[4rem] md:pt-0 w-80">
      <% if content_for?(:sidebar_content) %>
        <%= yield :sidebar_content %>
      <% else %>
        <li class="menu-title">Avivas Administration</li>
        <li>
          <%= link_to admin_root_url do %>
            <i class="fa-solid fa-house"></i> Dashboard
          <% end %>
        </li>
        <li>
          <%= link_to admin_users_path do %>
            <i class="fas fa-users"></i> Users
          <% end %>
        </li>
        <li>
          <a>
            <i class="fas fa-box"></i> Products
          </a>
        </li>
        <li>
          <a>
            <i class="fas fa-file-invoice"></i> Invoices
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>

<%= render template: 'layouts/application' %>


