<% content_for :title do %>
   <%= yield :auth_action %>
<% end %>

<% content_for :main_content do %>
  <section class="flex items-center">
    <div class="hero bg-base-200 min-h-screen">
      <div class="hero-content flex-col">
        <div class="card w-full max-w-md shrink-0 shadow-2xl">
          <div class="flex justify-between px-6 py-3">
            <figure>
              <%= image_tag 'logos/reduction.svg', id: 'site-logo-white', alt: 'Site Logo', size: 125 %>
              <%= image_tag 'logos/reduction-black.svg', id: 'site-logo-black', alt: 'Site Logo', size: 125, style: "display:none"%>
            </figure>
            <p class="flex items-center">
            <%= render partial: "/shared/theme_toggle" %>
            </p>
          </div>
          <div class="card-body p-6">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>

<%= render template: 'layouts/application' %>
